@import url('../App.css');
@import url('Login.css');
@import url('Navigation.css');
@import url('TopNavigation.css');
@import url('Setting.css');
@import url('Table.css');
@import url('Dashboard.css');
@import url('Client.css');
@import url('Statistics.css');
@import url('Home.css');
@import url('EmptyTable.css');
@import url('Drawer.css');
@import url('Filter.css');
