#navigation-container {
  background-color: #f1f1f4;
  font-family: NotoSansKR;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #25252d;
}

.navigation-focus-tab {
  background-color: #e6e6ea;
}

.hover-tab:hover {
  background-color: #e6e6ea;
}

.navigation-focus-tab > span {
  color: #7047eb;
}

.navigation-focus-tab > div > span {
  color: #7047eb;
}

.navigation-client-item {
  color: #6c6c84;
}

.pin-icon:hover > path {
  fill: rgba(108, 108, 132, 0.3) !important;
}

.pin-icon > path {
  fill: #f1f1f4;
}

.hover-tab:hover > .pin-icon > path {
  fill: #e6e6ea;
}

.navigation-focus-tab > .pin-icon > path {
  fill: #e6e6ea;
}

.pinned-icon > path {
  fill: #6c6c84 !important;
}
