@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html,
#root,
.App {
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: Noto Sans KR;
}

::-webkit-scrollbar {
  display: none;
}
